/* Boiler Plate */
*{
    margin:0;
    box-sizing: border-box;
}


body{
    background-color: #E8FFBF;
}

header div{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

header ul{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 195, 195);
    padding: 20px;

}

header li{
    background-color: rgb(255, 223, 167);
    list-style-type: none;
    padding: 5px;
}

header a {


    color: #404231;
}

h1, h2{
    font-family: "Lato";
}

p{
    font-family: "Tiro Bangla"
}


/* ============================================================================== */

form{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

fieldset{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input, label,button{
    margin: 5px;
}
